
.title-prd{
    width: 30%;
    font-size: 16px;

}
.delete-button{
    float: right;
}
.line-through{
    text-decoration: line-through;
}
.carousel-control-next, .carousel-control-prev{
    width: 10px !important;
}
.shadowed-div {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 10px;
  }
.total-prdt{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #ff0000;
    margin-bottom: 0px;

}
.price-prdt{
    font-size: 18px;
    font-weight: bold;
    color: red;
    margin-bottom: 0px;
}
.info-prdt p{
    margin-bottom: 0px;
}
.brand-prdt{
    width: 100%;
    
}
.pd-l{
    padding-left: 0;
}
.d-in-bl{
    display: inline-block;
}
.btn-total{
    border: none;
    background: none;
}
.percent {
    background-color: #FFB6C1;
    color: #ff0000;
    border-radius: 11px;
}
.name-prdt{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0px;
    color: black;
}

.center-div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.checkbox-fil{
    width: 48%;
}
.scroll-prdt ,.scroll-tb{
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

.scroll-prdt::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  .scroll-prdt::-webkit-scrollbar-track {
    background: #ffffff;
  }
  
  .scroll-prdt::-webkit-scrollbar-thumb {
    background-color: #eab142;
    border-radius: 6px;
  }
  
  .scroll-prdt::-webkit-scrollbar-thumb:hover {
    background: #aa8130;
  }

.title-h1{
    font-weight: bolder;
    font-size: 24px;
    color: #F8B300;

}  
@media (min-width: 992px){
.modal-lg {
    max-width: 85% !important;
}

}


@media (max-width: 991px){
    .btn-mobile-add {
        margin-left: 20%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .center-div{
        height: 100%;
    }
    .name-prdt{
        font-size: 14px;
    }
    }
@media (max-width: 768px){
    .moblie-mg{
        margin-top: 20px;
    }
    .mb-none{
        display: none;
    }
    .title-h1{
        font-size: 18px;
    }
}