.title-prd{
    width: 25%;
}

.line-through{
    text-decoration: line-through;
}
.price-prdt{
    font-size: 25px;
    font-weight: bold;
    color: red;
}
.info-prdt p{
    margin-bottom: 0px;
}
.brand-prdt{
    width: 100%;
    
}

.percent {
    background-color: #FFB6C1;
    color: #ff0000;
    border-radius: 11px;
}
.name-prdt{
    font-size: 16px;
    font-weight: bold;
}
.center-div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.checkbox-fil{
    width: 48%;
}
.scroll-prdt{
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}
.scroll-prdt::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  .scroll-prdt::-webkit-scrollbar-track {
    background: #ffffff;
  }
  
  .scroll-prdt::-webkit-scrollbar-thumb {
    background-color: #eab142;
    border-radius: 6px;
  }
  
  .scroll-prdt::-webkit-scrollbar-thumb:hover {
    background: #aa8130;
  }
@media (min-width: 992px){
.modal-lg {
    max-width: 85% !important;
}

}


@media (max-width: 991px){
    .btn-mobile-add {
        margin-left: 20%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .center-div{
        height: 100%;
    }
    .name-prdt{
        font-size: 14px;
    }
    }